/* Empty. Add your own CSS if you like */
.pics img {
margin: 5px;
/* padding: 5px; */
}

.direct {
  margin: 0px 0px 4px 0px;
}

h1 {
  text-align: center;
  font-family: "avenir", serif;
  font-size: 3.5em;
  background: -webkit-linear-gradient(#eee, #ddbf00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}


body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
